@CHARSET "UTF-8";
h2{
	text-align: center;
}
.container{
	width:1000px;
	margin: 0 auto;
	position: relative;
}
.tanents{
	clear: both;
	min-height: 100px;
}
.talent { float: left;width:100%;} * html .talent { height: 12em; } /* IE6 */
.tanents .talent{
	min-height: 100px;
}
.talent.custom-state-active { background: #eee; }
.talent li { float: left; width: 96px; padding:1px; margin: 0 0.4em 0.4em 0; text-align: center; }
.talent li h5 { margin: 0; cursor: move; font-size: 12px; }
.talent li a { float: right; }
.talent li a.ui-icon-zoomin { float: left; }
.talent li img { width: 100%; cursor: move; }
.projects{
  clear: both;
}
.project { float: left; width: 22%; min-height: 110px; padding: 0.5%; margin-left: 2px;} * html .project { height: 18em; } /* IE6 */
.project h4 { line-height: 16px; margin: 0 0 0.4em; }
.project h4 .ui-icon { float: left; }

.project h4 {
	border: 0;
	background: none;
	font-size: 14px;
}

#project5,
#project9,
#project13,
#project19,
{
	clear:left;
}
